<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form action="http://localhost:3200/addUser" method="post">
                <input type="text" name="Username" placeholder="Username" required><br><br>
                <input type="password" name="Password" placeholder="Password" required><br><br>
                <input type="submit" value="Sign Up" id="signup-button">
            </form>
            <p>Already have an account? <a href="homePage.html">log in here</a></p>
        </div>
    </div>
</body>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const inputFields = document.querySelectorAll('input[type="text"], input[type="password"]');
        
        inputFields.forEach(field => {
            field.addEventListener('focus', () => {
                field.placeholder = '';
            });
            
            field.addEventListener('blur', () => {
                if (!field.value) {
                    field.placeholder = field.name;
                }
            });
        });
    });
</script>
</html>